html,
body {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  padding-bottom: 65px;
}

.next-date {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.footer {
	margin-bottom: 15px;
}

.footer code {
	white-space: nowrap;
}

@media screen and (min-width: 600px) {
	html {	
		padding-top: 100px;
	}
}

.mantine-Tabs-root {
	margin-top: 40px;
	margin-bottom: 50px;
}

.mantine-Tabs-root button {
	width: 50%;
}

.mantine-Tabs-root .mantine-Tabs-tabLabel {
	width: 100%;
}

.mantine-SimpleGrid-root {
	display: flex;
	align-items: center;
	flex-direction: column;
}

.tab-date {
	display: flex;
	align-items: center;
	flex-direction: column;
	margin-bottom: 25px;
	margin-top: 10px;
}

.card {
	box-sizing: content-box;
	width: 260px;
	display: flex;
	align-items: center;
	flex-direction: column;
	padding: 8px;
	border-radius: 5px;
}

.card p {
	margin: 0;
	text-align: center;
}

.card .summary {
	font-weight: 600;
	font-size: 17px;
	margin-bottom: 3px;
}

.card .teacher {
	margin-top: 10px;
}

.card .hours {
	font-weight: 600;
	margin-top: 5px;
	display: flex;
	align-items: center;
}

.card .hours svg {
	margin: 0 5px;
}

.form {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.form label {
	margin-top: 30px;
}

.form button {
	margin-top: 20px;
	width: 100px;
}