html,
body {
	-webkit-touch-callout: none; 
    -webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background: #1A1B1E;
	padding: 0;
	margin: 0;
	display: flex;
	justify-content: center;
	padding-bottom: 65px;
}

main {
	margin-top: 50px;
	box-sizing: content-box;
}

.next-date {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.footer {
	margin-bottom: 15px;
}

.footer code {
	white-space: nowrap;
}

@media screen and (min-width: 600px) {
	html {	
		padding-top: 100px;
	}
}

.mantine-Tabs-root {
	margin-top: 40px;
	margin-bottom: 50px;
}

.mantine-Tabs-root button {
	width: 50%;
}

.mantine-Tabs-root .mantine-Tabs-tabLabel {
	width: 100%;
}

.mantine-SimpleGrid-root {
	display: flex;
	align-items: center;
	flex-direction: column;
}

.tab-date {
	display: flex;
	align-items: center;
	flex-direction: column;
	margin-bottom: 25px;
	margin-top: 10px;
}

.card {	
	width: 100%;
	display: flex;
	align-items: center;
	flex-direction: column;
	padding: 8px;
	border-radius: 5px;
}

.card p {
	margin: 0;
	text-align: center;
	color: #fff;
}

.card .summary {
	font-weight: 600;
	font-size: 17px;
	margin-bottom: 3px;
}

.card .teacher {
	margin-top: 10px;
}

.card .hours {
	font-weight: 600;
	margin-top: 5px;
	display: flex;
	align-items: center;
}

.card .hours svg {
	margin: 0 5px;
}

.form {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.form label {
	margin-top: 30px;
}

.form button {
	margin-top: 20px;
	width: 120px;
	font-weight: 600;
	margin-bottom: 40px;
}

.form input {
	width: 300px;
}

.next-summary {
	display: flex;
	justify-content: center;
	align-items: center;
}

#error {
	color: rgb(255, 71, 71);
	margin: 10px 0 0 0;
}

#infos {
	width: 300px;
	margin-bottom: 40px;
	opacity: 0.7;
}